<!--The content below is only a placeholder and can be replaced.-->
<div style="width: 100%; height: 100%" class="md-body-1">
  <div class="md-padding" layout-xs="column" layout="row" style="width: 100%; height: 100%; padding: 20px;">
    <div class="container" id="" style='width: 100%;'>

      <div class="sidebyside" style="margin-right: 75px;">
        <ul class="nav nav-tabs" id="myTab">
          <li class="active">
            <a data-target="#gantt_view" data-toggle="tab" onclick="toggleView('program_consolidation_view',0);">Program View</a>
          </li>
          <li>
            <a data-target="#gantt_view" data-toggle="tab" onclick="toggleView('region_consolidation_view',0);">Region View</a>
          </li>
          <li>
            <a data-target="#gantt_view" data-toggle="tab" onclick="toggleView('resource_consolidation_view',0);">Resource View</a>
          </li>
        </ul>
      </div>
      <div style="margin-top: 6px" class="sidebyside  ui-inputtext" id="gantt_selection_criteria">
        <form [formGroup]="searchGanttChart" fxFlex fxLayout="column" autocomplete="off">

          <mat-form-field>
            <mat-select name="selectedProgram" placeholder="Select a Program" formControlName="program" multiple>
              <ngx-mat-select-search placeholderLabel="Search" noEntriesFoundLabel="No options found" [formControl]="programFilterCtrl"></ngx-mat-select-search>
              <mat-option #allProgramSelected (click)="toggleAllSelection('program')" [value]="0">All</mat-option>
              <mat-option *ngFor="let Program of listProgram" [value]="Program.value" (click)="togglePerOne('program')">
                {{Program.value}}
              </mat-option>

            </mat-select>
          </mat-form-field>


          <mat-form-field>
            <mat-select name="selectedRegion" placeholder="Select a Region" formControlName="region" multiple>
              <ngx-mat-select-search placeholderLabel="Search" noEntriesFoundLabel="No options found" [formControl]="regionFilterCtrl"></ngx-mat-select-search>
              <mat-option #allregionSelected (click)="toggleAllSelection('region')" [value]="0">All</mat-option>
              <mat-option *ngFor="let Region of listRegion" [value]="Region.value" (click)="togglePerOne('region')">

                {{Region.value}}

              </mat-option>
            </mat-select>
          </mat-form-field>

          <mat-form-field>
            <mat-select name="selectedResource" placeholder="Select a Resource" formControlName="resource" multiple>
              <ngx-mat-select-search placeholderLabel="Search" noEntriesFoundLabel="No options found" [formControl]="resourceFilterCtrl"></ngx-mat-select-search>
              <mat-option #allresourceSelected (click)="toggleAllSelection('resource')" [value]="0">All</mat-option>
              <mat-option *ngFor="let Resource of listResource" [value]="Resource.value" (click)="togglePerOne('resource')">

                {{Resource.value}}

              </mat-option>
            </mat-select>
          </mat-form-field>
        </form>
      </div>

      <div class="sidebyside" ng-controller="myCtrl" style="margin-top:9px;float:right">
        <div class="upload" style="float:left;margin-right: 8px">
          <a class="download" onclick="uploadSharePointFile();">
            Refresh </a>
        </div>
        <!-- <div class="upload" style="float:left;margin-right: 8px">
          Upload
          <input type="file" class="hide_file" onchange="handleFileSelect();" file-model="myFile" accept=".xlsx" style="display:inline;"
          />
        </div> -->
        <!-- <div class="upload" style="float:left;margin-right: 8px">
          <a class="download" href="http://35.188.173.90/ganttChart/CSV/Template/template.xlsx">
            Template </a>
        </div> -->
        <!-- <div class="upload" style="float:left;margin-right: 8px">
            <a class="download" href="http://35.188.173.90/ganttChart/CSV/CurrentFile/Global_IT_Roadmap.xlsx">
              Template </a>
          </div> -->
        <div class="upload" style="float:right;">
          <a class="download" onclick="showHistory();"> History </a>
        </div>

      </div>
      <div id="historyDiv" class="historycontainer">
        <table id="historyTable">

        </table>
      </div>
    </div>
    <div id="gantt_view" style="height: 90%">
      <div id="gantt_here" style='height: 100%; margin: 1px 0px 20px 0px;'>
      </div>
    </div>

  </div>
</div>