@font-face {
    font-family: 'Material Icons';
    font-style: normal;
    font-weight: 400;
    src: url(https://fonts.gstatic.com/s/materialicons/v41/flUhRq6tzZclQEJ-Vdg-IuiaDsNc.woff2) format('woff2');
  }
  ::ng-deep .material-icons {
    font-family: 'Material Icons' !important;
    font-weight: normal;
    font-style: normal;
    font-size: 24px;
    line-height: 1;
    letter-spacing: normal;
    text-transform: none;
    display: inline-block;
    white-space: nowrap;
    word-wrap: normal;
    direction: ltr;
    -webkit-font-feature-settings: 'liga';
    -webkit-font-smoothing: antialiased;
  }
  ::ng-deep .mat-form-field{
padding-right:30px;
  }
  ::ng-deep  .cdk-overlay-pane-select-search{
      margin-top:0px !important;
  }

  /* ::ng-deep .mat-select-content{
    width:120px !important;

  }  */
  .holds-the-iframe {
    background:url('assets/loader.gif') center center no-repeat;
   }
   ::ng-deep .grid_cell{
    width: 330px !important;
   }
   ::ng-deep .gantt_grid_scale {
    width: 329px !important;
}
::ng-deep .gantt_grid_data {
  width: 100%;
  overflow: auto;
}
::ng-deep .gantt_data_area {
  position: relative;
  overflow-x: hidden;
  overflow-y: auto;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}