<!DOCTYPE html>

<head>
  <base href="./">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta charset="utf-8">

  <!-- Bootstrap CSS -->
  <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" />

  <!-- jQuery -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>

  <!-- Bootstrap JS -->
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

  <!-- <link rel="stylesheet" href="style/main.css" /> -->
  <!-- <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/angular_material/1.0.0/angular-material.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/angular_material/1.0.0/angular-material.min.js"></script> -->
</head>

<body>
  <!-- <app-root></app-root> -->
  <!-- <div id="colorpad" style="width:300px;height:300px;background-color:#000">
  </div>
  <button onclick="setRandomColor()">Random Color</button> -->
  <md-toolbar style="width: 100%; height: 100%" class="md-body-1">
    <md-content class="md-padding" layout-xs="column" layout="row" style="width: 100%; height: 100%; padding: 20px;">
      <div class="container" id="" style='width: 100%;'>
        
        <div class="sidebyside">
          <ul class="nav nav-tabs" id="myTab">
            <li class="active">
              <a data-target="#gantt_view" data-toggle="tab" onclick="toggleView('program_consolidation_view',0);">Program view</a>
            </li>
            <li>
              <a data-target="#gantt_view" data-toggle="tab" onclick="toggleView('region_consolidation_view',0);">Region view</a>
            </li>
            <li>
              <a data-target="#gantt_view" data-toggle="tab" onclick="toggleView('resource_consolidation_view',0);">Resource view</a>
            </li>
            <!-- <li>
              <a data-target="#gantt_view" data-toggle="tab" onclick="toggleView('map_view',0);">Map view</a>
            </li> -->
          </ul>
        </div>
        <div style="margin-top: 8px" class="sidebyside  ui-inputtext" id="gantt_selection_criteria">
          <select id="program_consolidation_view" onchange="changeSelectedProject(this.value);">
            <option value="0" selected="selected">All program</option>
          </select>
          <select id="region_consolidation_view" onchange="changeSelectedRegion(this.value);">
            <option value="0" selected="selected">All region</option>
          </select>
          <select id="resource_consolidation_view" onchange="changeSelectedResource(this.value);">
            <option value="0" selected="selected">All resource</option>
          </select>
        </div>
        <!-- <div class="sidebyside" style="width:35%;margin-top: 19px">
          <input type="color" value="#655f61" id="colorWell" title="Change color">
        </div> -->

        <div class="sidebyside" ng-controller="myCtrl" style="margin-top:10px;float:right">

          <div class="upload" style="float:left;margin-right: 15px">
          
            <a class="download" onclick="showHistory();">
              History </a>

          </div>
          <div class="upload" style="float:left;margin-right: 15px">
            Upload
            <input type="file" class="hide_file" onchange="handleFileSelect();" file-model="myFile" accept=".xlsx" style="display:inline;"
            />
          </div>

          <div class="upload" style="float:right">
            <a class="download" href="http://35.188.173.90/ganttChart/CSV/template.csv">
              Template </a>
          </div>

        </div>
        <div id="historyDiv" class="historycontainer">
            <table id="historyTable">
            
            </table>
          </div>
      </div>
      <div id="gantt_view" style="height: 90%">
        <div id="gantt_here" style='height: 100%; margin: 1px 0px 20px 0px;'>
        </div>

        <div id="cardTimelineBar" style='display: none'>
          <div class="controls" style="float: left; width: 5%; padding-top: 10px;">
            <a href="#" onclick="cardRunTimeline();" title="Play timeline" class="play cardTimelineBarPlay"></a>
          </div>
          <div class="range-slider">
            <input type="text" id="cardRangeSlider" value="" />
          </div>
        </div>
        <div ng-controller="OtisCtrl" ng-cloak id="OtisCtrl">
          <section ng-if="visibleLayout">
            <md-content>
              <div flex layout layout-wrap layout-fill layout-align="start center" class="">
                <md-card md-theme="default" class="z-depth" ng-repeat="imgName in images track by $index">
                  <div class="md-media-xl card-media cardImg cardImgCenterAlign" md-ink-ripple="#0000FF">
                    <img ng-src="img/{{imgName}}" class="md-card-image" alt="OTIS">
                  </div>
                </md-card>
              </div>
            </md-content>
          </section>
        </div>
      </div>
      <div id="map_view" style='height: 95%; display: none'>
        <div class="timelineBar">
          <div class="controls" style="float: left; width: 5%; padding-top: 10px;">
            <a href="#" onclick="runTimeline();" title="Play timeline" class="play"></a>
          </div>
          <div class="range-slider">
            <input type="text" class="js-range-slider" value="" />
          </div>
        </div>
        <div id="map"></div>
      </div>
    
    </md-content>
  </md-toolbar>
  <!-- <script> $(document).ready(function () {
      //  var APIPath = "http://35.188.173.90/ganttChart/CSV/";
      //  jQuery(document).ready(function($) {
     // initMap();
      //});
    });</script> -->


  <!-- <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDsnBvhur6SXaxP3rSS_2J6nqjIaTdhh6Q&callback=initMap">
  </script> -->

</body>